<div class="answer_item">
  <div style="float: left; margin-right: 15px;">
  <a href="" style="display: inline-block;">                 
    <img class="img-avatar" src="../upload/avatar/{$smarty.session.user.photo_big}">               
    </a><br>                
    <span class="autor" style="display: block;text-align: center;">{$smarty.session.user.first_name}</span>               
  </div>              
  <p class="answer_text">{$text}</p><br>
  {if $image}
    <a href="/upload/answer/{$image}">
      <img src="/upload/answer/{$image}" class="answer_image">
    </a>  
  {/if}
  <div style="clear: both"></div>                      
</div>                    
