
  
<div id="boxes">  
  <div id="dialog" class="window"><p>Войти с помощью:</p>  
  
    <a href="{$VkAuthLink}" class="vk"> <img src="/img/vk_icon.png" width="80" class="vk_img">Вконтакте</a> 
  </div>
</div>

<!-- Маска, затемняющая фон -->
<div id="mask"></div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" src="/js/modalWindow.js"></script>
<script type="text/javascript" src="/js/spoiler.js"></script>
<script type="text/javascript" src="/js/ajax_form.js"></script>
<script type="text/javascript" src="/js/getNameFile.js"></script>
<script type="text/javascript" src="/js/checkParams.js"></script>
</div> <!-- wrap -->
<div class="footer_cuddled footer">
  <p>© 2016. Все права защищены.</p>
</div>
</body>
</html>